/* MARGIN */
    /* MARGIN TOTAL */
    .fs-u-m-0 {
        margin: var(--space-0);
    }
    .fs-u-m-1 {
        margin: var(--space-1);
    }
    .fs-u-m-2 {
        margin: var(--space-2);
    }
    .fs-u-m-3 {
        margin: var(--space-3);
    }
    .fs-u-m-4 {
        margin: var(--space-4);
    }

    /* MARGIN EIXO X */
    .fs-u-mx-0 {
        margin-left: var(--space-0);
        margin-right: var(--space-0);
    }
    .fs-u-mx-1 {
        margin-left: var(--space-1);
        margin-right: var(--space-1);
    }
    .fs-u-mx-2 {
        margin-left: var(--space-2);
        margin-right: var(--space-2);
    }
    .fs-u-mx-3 {
        margin-left: var(--space-3);
        margin-right: var(--space-3);
    }
    .fs-u-mx-4 {
        margin-left: var(--space-4);
        margin-right: var(--space-4);
    }


    /* MARGIN EIXO Y */
    .fs-u-my-0 {
        margin-top: var(--space-0);
        margin-bottom: var(--space-0);
    }
    .fs-u-my-1 {
        margin-top: var(--space-1);
        margin-bottom: var(--space-1);
    }
    .fs-u-my-2 {
        margin-top: var(--space-2);
        margin-bottom: var(--space-2);
    }
    .fs-u-my-3 {
        margin-top: var(--space-3);
        margin-bottom: var(--space-3);
    }
    .fs-u-my-4 {
        margin-top: var(--space-4);
        margin-bottom: var(--space-4);
    }

    /* MARGIN TOP */
    .fs-u-mt-0 {
        margin-top: var(--space-0);
    }
    .fs-u-mt-1 {
        margin-top: var(--space-1);
    }
    .fs-u-mt-2 {
        margin-top: var(--space-2);
    }
    .fs-u-mt-3 {
        margin-top: var(--space-3);
    }
    .fs-u-mt-4 {
        margin-top: var(--space-4);
    }

    /* MARGIN BOTTOM */
    .fs-u-mb-0 {
        margin-bottom: var(--space-0);
    }
    .fs-u-mb-1 {
        margin-bottom: var(--space-1);
    }
    .fs-u-mb-2 {
        margin-bottom: var(--space-2);
    }
    .fs-u-mb-3 {
        margin-bottom: var(--space-3);
    }
    .fs-u-mb-4 {
        margin-bottom: var(--space-4);
    }

    /* MARGIN LEFT */
    .ml-0 {
        margin-left: var(--space-0);
    }
    .ml-1 {
        margin-left: var(--space-1);
    }
    .ml-2 {
        margin-left: var(--space-2);
    }
    .ml-3 {
        margin-left: var(--space-3);
    }
    .ml-4 {
        margin-left: var(--space-4);
    }

    /* MARGIN RIGHT */
    .mr-0 {
        margin-right: var(--space-0);
    }
    .mr-1 {
        margin-right: var(--space-1);
    }
    .mr-2 {
        margin-right: var(--space-2);
    }
    .mr-3 {
        margin-right: var(--space-3);
    }
    .mr-4 {
        margin-right: var(--space-4);
    }

/* PADDING */
    /* PADDING TOTAL */
    .fs-u-p-0 {
        padding: var(--space-0);
    }
    .fs-u-p-1 {
        padding: var(--space-1);
    }
    .fs-u-p-2 {
        padding: var(--space-2);
    }
    .fs-u-p-3 {
        padding: var(--space-3);
    }
    .fs-u-p-4 {
        padding: var(--space-4);
    }

    /* PADDING EIXO X */
    .fs-u-px-0 {
        padding-left: var(--space-0);
        padding-right: var(--space-0);
    }
    .fs-u-px-1 {
        padding-left: var(--space-1);
        padding-right: var(--space-1);
    }
    .fs-u-px-2 {
        padding-left: var(--space-2);
        padding-right: var(--space-2);
    }
    .fs-u-px-3 {
        padding-left: var(--space-3);
        padding-right: var(--space-3);
    }
    .fs-u-px-4 {
        padding-left: var(--space-4);
        padding-right: var(--space-4);
    }

    /* PADDING EIXO Y */
    .fs-u-py-0 {
        padding-top: var(--space-0);
        padding-bottom: var(--space-0);
    }
    .fs-u-py-1 {
        padding-top: var(--space-1);
        padding-bottom: var(--space-1);
    }
    .fs-u-py-2 {
        padding-top: var(--space-2);
        padding-bottom: var(--space-2);
    }
    .fs-u-py-3 {
        padding-top: var(--space-3);
        padding-bottom: var(--space-3);
    }
    .fs-u-py-4 {
        padding-top: var(--space-4);
        padding-bottom: var(--space-4);
    }

    /* PADDING TOP */
    .fs-u-pt-0 {
        padding-top: var(--space-0);
    }
    .fs-u-pt-1 {
        padding-top: var(--space-1);
    }
    .fs-u-pt-2 {
        padding-top: var(--space-2);
    }
    .fs-u-pt-3 {
        padding-top: var(--space-3);
    }
    .fs-u-pt-4 {
        padding-top: var(--space-4);
    }

    /* PADDING BOTTOM */
    .fs-u-pb-0 {
        padding-bottom: var(--space-0);
    }
    .fs-u-pb-1 {
        padding-bottom: var(--space-1);
    }
    .fs-u-pb-2 {
        padding-bottom: var(--space-2);
    }
    .fs-u-pb-3 {
        padding-bottom: var(--space-3);
    }
    .fs-u-pb-4 {
        padding-bottom: var(--space-4);
    }

    /* PADDING LEFT */
    .pl-0 {
        padding-left: var(--space-0);
    }
    .pl-1 {
        padding-left: var(--space-1);
    }
    .pl-2 {
        padding-left: var(--space-2);
    }
    .pl-3 {
        padding-left: var(--space-3);
    }
    .pl-4 {
        padding-left: var(--space-4);
    }

    /* PADDING RIGHT */
    .pr-0 {
        padding-right: var(--space-0);
    }
    .pr-1 {
        padding-right: var(--space-1);
    }
    .pr-2 {
        padding-right: var(--space-2);
    }
    .pr-3 {
        padding-right: var(--space-3);
    }
    .pr-4 {
        padding-right: var(--space-4);
    }
