/* CONTAINERS */

.container-page {
    /* position */
    position: static;
    overflow: hidden;

    /* size */
    width: 100vw;
    height: 100vh;

    /* flex custom */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.container-mockup {
    /* position */
    position: static;
    overflow-x: hidden;
    overflow-y: auto;

    /* size */
    width: 100vw;
    height: 100vh;

    /* flex custom */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
