/* SIDEBAR */

.sidebar {
    /* position */
    position: fixed;
    overflow-x: visible;
    overflow-y: auto;

    /* size */
    width: 350px;
    height: 100%;

    /* flex custom */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar .categories {
    /* size */
    width: 70px;
    height: 100vh;

    /* space */
    padding: 10px 0;

    /* flex custom */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    /* theme */
    background-color: var(--role-color-500);
}
    .categories .btn {
        /* position */
        position: relative;

        /* size */
        width: 70px;
        height: 70px;
        
        /* flex custom */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* theme */
        background-color: var(--role-color-500);
    }
        .categories .btn img {
            /* size */
            width: 24px;
            height: 24px;

            filter: grayscale(1);
        }
        .categories .btn.active img {
            filter: grayscale(0);
        }
        .categories .btn:hover {
            background-color: var(--role-color-400);
            cursor: pointer;
        }
        .categories .btn.active {
            position: relative;
            background-color: var(--theme-surface);
            z-index: 2;
        }
        .categories .btn.active::before,
        .categories .btn.active::after {
            content: "";
            position: absolute;
            right: 0;
            width: 24px;
            height: 24px;
            background-color: transparent;
            pointer-events: none;
        }
        .categories .btn.active::before {
            top: -24px;
            border-bottom-right-radius: 24px;
            box-shadow: 12px 12px 0 12px var(--theme-surface);
        }
        .categories .btn.active::after {
            bottom: -24px;
            border-top-right-radius: 24px;
            box-shadow: 12px -12px 0 12px var(--theme-surface);
        }
        
        .categories .btn.line {
            border-top: 1px solid var(--theme-border-alt);
        }
        .categories .btn.logo {
            /* size */
            width: 40px;
            height: 40px;

            /* space */
            margin: 15px;

            /* theme */
            border-radius: 50%;
            background-color: var(--theme-surface);
        }
        .categories .btn.space {
            pointer-events: none;
            cursor: default;
        }     
    .categories .logo {
        /* size */
        width: 70px;

        /* flex custom */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .categories .content {
        /* size */
        width: 100%;
        height: 100%;

        /* flex custom */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }        
        .categories .content .links {
            /* size */
            width: 100%;

            /* flex custom */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .categories .content .menu {
            /* size */
            width: 100%;

            /* flex custom */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }            
            .categories .content .menu .user {
                /* size */
                width: 40px;
                height: 40px;

                /* flex custom */
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                /* space */
                margin: 15px;

                /* theme */                
                background-color: var(--theme-surface);
                border-radius: 50%;
            }

.sidebar > .links {
    /* size */
    width: 240px;
    height: 100%;

    /* space */

    /* theme */
    background-color: var(--theme-surface);
}
