/* CARDS */

.card-static {
    /* theme */
    border-radius: 8px;
    border: 1px solid var(--theme-border-alt);

    /* space */
    margin: 10px;
}
.card .title {
    /* size */
    height: 28px;

    /* flex custom */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    /* theme */
    background-color: var(--theme-text);
    border-radius: 8px 8px 0 0;
    color: var(--theme-surface);

    /* space */
    padding: 0 20px;

    /* text */
    font-family: "Inter", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}